:root {
    --lyrics_speed: 1s;
}

html {
    box-sizing: border-box;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: inherit;
}


body {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;

    /* font-family: "source-han-serif-sc", serif;
        font-weight: 400;
        font-style: normal; */
    font-family: "tt-songti-chs-variable", sans-serif;
    font-size: clamp(1rem, 13vw, 5rem);
    line-height: clamp(1rem, 13vw, 5rem);
    color: white;
    text-align:center;
    /* text-shadow: 4px 4px 4px black; */
    background:black;

}

.black_screen {
    position:absolute;
    z-index:100;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:black;
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    transition: opacity 0.5s;

    font-size:.5em;

    /* display:none; */
}

.carousel {
    width: 40%;
    height:60%;
    margin: 20px auto;
    position: relative;
    top:40%;
    transform: translateY(-50%);

}

/* had to add this so that black hole could be smaller than/not touch .carousel-items */
.carousel_bg {
    width: 25%;
        aspect-ratio: 1;
        position: relative;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
    
        border-radius: 50%;
        background: black;
        filter: blur(1.5px);
    
        box-shadow: 0 0 0vw 2vw black,
            0 0 4vw 0vw #FFCA14,
            0px 0px 10vw #FF3E00;


    filter: drop-shadow(5px 5px 10px white);
}

.carousel_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation:
        move-x 10s linear infinite,
        move-y 10s linear infinite,
        glow_small 1s ease-in-out infinite alternate;

    white-space: nowrap;

    filter: drop-shadow(0px 0px 5px white);
}

.carousel_item * {
    transform: skew(-15deg, 0deg);
}

.carousel:hover .carousel_item {
    animation-play-state: paused;
}

.blackhole_bg {
    position: fixed;
    z-index:-1;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
}

.song_choice {
    cursor:pointer;
    display:block;
}

.song_choice:active {
    color:blue;
}

.countdown {
    position:fixed;
    z-index:90;
    width:100vw;
    height:100vh;
    background:black;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-content: center;

    transition: opacity 0.5s;

}

.countdown .count {
    
}

/* KARAOKE PAGE */
.back {
    position: fixed;
    z-index:10;
    color:white;
    opacity: .75;
    font-size:.5em;
    top:.25em;
    left:.5em;
    cursor: pointer;
}

/* ???Should I just get rid of the disco? */
.disco {
    width:15vw;
    height:50vh;
    position:fixed;
    z-index:1;
    top:0;
    left:50%;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 20px white);
    mix-blend-mode:soft-light;
    display:none;
}

.disco_chain {
    position: fixed;
    z-index: 9;
    top:-12vh;
    left:50%;
    transform:translateX(-50%);
}

/* .disco_ball_container {
    transform-origin: top center;
    width: 10vw;
    height:10vw;
    animation: spin 5s linear infinite;
} */


.disco_ball {
    position:fixed;
    z-index: 10;
    bottom:0;
    left:0;
    transform-origin: center;
    width: 6vw;
    aspect-ratio: 1;
    background: black;
    border-radius: 50%;
    filter: blur(1.5px);

    box-shadow: 1.5vw 0 0vw 2vw black,
        -.25vw .25vw 4vw 0vw #FFCA14,
        0px 0px 10vw #FF3E00;

    /* animation: spin 5s linear infinite; */

}


/* ??how to make this spin on center?? */
@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}


img {
    max-width:100%;
}

.container {
    width:inherit;
    height:inherit;
    position:relative;
}

/*width and height stretch the 1280px x 720px canvas to fill the browser*/
canvas {
    width:100vw;
    height:100vh;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;

    transition: filter 1s, width 1s, height 1s, top 1s, left 1s;
    opacity:0;
}

.input_video {
    display:none;
}

.container {
    position: relative;
        width: 100%;
    
        display: flex;
        flex-flow: column wrap;
        justify-content:flex-end;
        /* background:pink; */
}

.textbox {
    height:1.5em;
    margin:1rem;
    /* background: blue; */
    /* width: fit-content； */
    /* transition:.1s; */
    
}

.span_lyrics {
    position: relative;
    white-space: nowrap;
    color: white;
    display:block;
    overflow: visible;
    opacity: .85;

    /* text-shadow: 0 0 3px rgba(0, 0, 0, 1); */
}

.span_lyrics p {
    display: inline;

}

.span_lyrics::after {
    content: attr(data-text);
    position: absolute;
    z-index:10;
    /* background: tomato; */
    color: blue;
    -webkit-text-stroke: 16px blue;
    filter:blur(5px) drop-shadow(0px 0px 5px blue);
    /* adding padding so that top of text doesn't get cut off */
    padding-block-start: 20px;
    overflow: visible;
    display:block;
    transform: translate(0%, -100%);
    width: 100%;
    animation-name: run-text;
    animation-duration: var(--lyrics_speed, 10s);
    animation-iteration-count: 1;
    animation-timing-function:linear;

    /* text-shadow: 0 0 3px rgba(255, 255, 255, 1); */
    
}

.mv {
    position:fixed;
    z-index: -1;
    top:50%;
    left:50%;
    /* moved it up a little to make room for lyrics */
    transform: translate(-50%, -60%);
    background:black;
    width:calc(80vh - 2.5em);
    aspect-ratio:1;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-content:center;
    overflow:hidden;

    border-radius:50%;

        box-shadow: 
                0 0 1vw 1vw black,
                0 0 2vw 0vw #FFCA14,
                0 0 3vw 0vw #FF3E00;
    
        filter: drop-shadow(5px 5px 10px white);

        /* ?? why doesn't this seem to be working? */
    transition: opacity 4s ease;
        opacity: 0;
}

.mv video {
    filter:blur(70px);
    min-width:160%;
    min-height:140%;
    transition: filter 0.3s ease, opacity 4s ease;
    opacity:0;
}

@keyframes run-text {
    from {
        clip-path: polygon(0 0, 0% 0%, 0% 100%, 0% 100%)
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)
    }
}


.screenshot {
    width: 1em;
    height: 1em;
    /* background:pink; */
    position: relative;
    display:inline;
    z-index: 3;
}

.bouncing_ball {
    position: absolute;
    z-index: 10;
    width:1em;
    height:1em;
    border-radius: 100%;
    top: 0;
    /* transform: translate(-50%, -50%); */


    background: yellow no-repeat center;
    background-size: 100% 100%;

    /* transition: all .5s ease-in-out; */
    
    filter: drop-shadow(0px 0px 15px white);

}



@keyframes bounce {
    0% {
        transform: translateY(0);
        /* left: 0; */
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes move-x {
    0% {
        left: 0;
        animation-timing-function: ease-in;
    }

    25% {
        left: 50%;
        animation-timing-function: ease-out;
    }

    50% {
        left: 100%;
        animation-timing-function: ease-in;
    }

    75% {
        left: 50%;
        animation-timing-function: ease-out;
    }

    100% {
        left: 0%;
        animation-timing-function: ease-in;
    }
}

@keyframes move-y {
    0% {
        top: 50%;
        animation-timing-function: ease-out;
    }

    25% {
        top: 0;
        animation-timing-function: ease-in;
    }

    50% {
        top: 50%;
        animation-timing-function: ease-out;
    }

    75% {
        top: 100%;
        animation-timing-function: ease-in;
    }

    100% {
        top: 50%;
        animation-timing-function: ease-out;
    }
}


/* BACKGROUND STARS */

.background-star {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('assets/img/SVG/star.svg');
    animation: pulse 2s linear infinite;
}

.background-star-2 {
    background-image: url('assets/img/SVG/star_2.svg');
    animation: pulse 2s linear infinite;
    animation-delay:1s;
    transform: scale(0.1);
        
}

@keyframes pulse {
    0% {transform: scale(0.6)}
     80% {transform: scale(0.3)
    } 
     100% {transform: scale(0.6)}

     /* ??this is doing a weird drop before ascending? */
     /* 
         0% {
             transform: scale(0.45) translateY(0%)
         }
    
         90% {
             transform: scale(0.1) translateY(-100vh)
         }
    
         100% {
             transform: scale(0.45) translateY(-100vh)
         }
          */
}

.bg {
    font-size: 20px;
    line-height: 1.2em;
    position: fixed;
    top: 1.5em;
    left: 0;
    z-index: -100;
    pointer-events:none;
}

.star_1 p, .star_2 p, .star_3 p {
    display:inline-block;
}

.star-1, .star-2, .star-3 {
    display: inline-block;
    /* background:rgba(255,255,255,.3); */
}

.star-1 p {
    animation: pulse 6s linear infinite, glow 1s ease-in-out infinite alternate;
    
}

.star-2 p {
    animation: pulse 5s linear infinite,
        glow 2s ease-in-out infinite alternate;
        animation-delay: .5s;
        transform: scale(0.85);
}

.star-3 p {
    animation: pulse 4s linear infinite,
        glow 3s ease-in-out infinite alternate;
    animation-delay: 1s;
    transform: scale(0.75);
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #FFCA14, 0 0 40px #FFCA14, 0 0 50px #FFCA14, 0 0 60px #FFCA14, 0 0 70px #FFCA14, 0 0 80px #FFCA14;
    }
}

@keyframes glow_small {
    0% {
        text-shadow: 0 0 0px white, 0 0 px white, 0 0 0px white;
    }

    50% {
        text-shadow: 0 0 0px white, 0 0 px white, 0 0 0px white;
    }

    100% {
        text-shadow: 0 0 5px #FFCA14, 0 0 6px #FFCA14, 0 0 7px #FFCA14;
    }
}